.header
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 999
	background-color: $c-white
	&__wrapper
		padding: 50px 0 20px
		display: flex
		align-items: center
		+r(1023)
			padding: 20px 0
	&__logo
		margin-right: 37px
	&__nav
		margin: 0 auto
		.menu
			display: flex
			& > * + *
				margin: 0 0 0 40px
			&__link
				font-family: $f-regular
				font-size: 16px
				line-height: 19px
				color: $c-text
	&__auth
		margin-left: 30px
		+r(1023)
			margin-left: 0
		.auth
			display: flex
			align-items: center
			& > * + *
				margin: 0 0 0 30px
	&__burger
		display: none
		+r(1023)
			display: block
		.burger
			+r(1023)
				width: 28px
			&.is-active
				.line
					&:nth-child(1)
						transform: rotate(-45deg) translate(-3px, 2.5px)
					&:nth-child(2)
						transform: rotate(45deg) translate(-3px, -2.5px)
			& > * + *
				+r(1023)
					margin: 5px 0 0
			.line
				+r(1023)
					width: 100%
					height: 3px
					background-color: $c-text-dark
					border-radius: 3px
					transform: rotate(0deg) translate(0, 0)
					+trans(transform)

