<section id="about" class="section hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        {{ block.blockText(null, 'hero', 'Want anything to be easy with <b>LaslesVPN</b>.', 'l', 'Provide a network for all your needs with ease and fun using <b>LaslesVPN</b> discover interesting features from us.') }}
        {{ mixins.linkTheme('m', null, 'Get Started', '#') }}
      </div>
      <div class="hero__media media">
        {% include "svg/_hero.html" %}
      </div>
    </div>
    <div class="hero__results">
      <div class="results card">
        {% for item in data.results %}
        <div class="results__item">
          <div class="icon-wrap">
            {{ mixins.icon(item.icon) }}
          </div>
          <div class="content">
            <div class="data">{{ item.data }}</div>
            <div class="label">{{ item.label }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
