<ul class="socials">
  {% for item in data.socials %}
  <li class="socials__item">
    <a class="socials__link" href="{{ item.url }}">
      <svg class="icon icon-{{ item.icon }}"><use xlink:href="img/sprite.svg#icon-{{ item.icon }}"></use></svg>
    </a>
  </li>
  {% endfor %}
</ul>
<!--{% if item.icon == 'facebook' %}-->
<!--{% include "svg/_facebook.html" %}-->
<!--{% elif item.icon == 'twitter' %}-->
<!--{% include "svg/_twitter.html" %}-->
<!--{% elif item.icon == 'instagram' %}-->
<!--{% include "svg/_instagram.html" %}-->
<!--{% endif %}-->
