<div class="subscribe">
  {{ block.blockText(null, 'subscribe', 'Subscribe Now for Get Special Features!', 'm', 'Let&#39;s subscribe with us and find the fun.') }}
  {{ mixins.btnTheme('m', 'btn-subscribe', 'Subscribe Now', 'button') }}
<!--  <div class="subscribe__form">-->
<!--    <form action="" autocomplete="off" class="subscribe-form">-->
<!--      <label class="input-wrap">-->
<!--        <input placeholder="email" type="email">-->
<!--      </label>-->
<!--      <button class="btn btn-send" type="submit">-->
<!--        {{ mixins.icon('arrow-right') }}-->
<!--      </button>-->
<!--    </form>-->
<!--  </div>-->
</div>
