{% set siteNav =
  [
    {
      url: 'about',
      label: 'About'
    },
    {
      url: 'features',
      label: 'Features'
    },
    {
      url: 'pricing',
      label: 'Pricing'
    },
    {
      url: 'testimonials',
      label: 'Testimonials'
    },
    {
      url: 'help',
      label: 'Help'
    }
  ]
%}

{% set footerNav =
  [
    {
      url: 'product.html',
      label: 'Product',
      siteMapSub:
      [
        {
          url: 'download.html',
          label: 'Download'
        },
        {
          url: 'pricing.html',
          label: 'Pricing'
        },
        {
          url: 'locations.html',
          label: 'Locations'
        },
        {
          url: 'server.html',
          label: 'Server'
        },
        {
          url: 'countries.html',
          label: 'Countries'
        },
        {
          url: 'blog.html',
          label: 'Blog'
        }
      ]
    },
    {
      url: 'engage.html',
      label: 'Engage',
      siteMapSub:
      [
        {
          url: 'laslesvpn.html',
          label: 'LaslesVPN ?'
        },
        {
          url: 'faq.html',
          label: 'FAQ'
        },
        {
          url: 'tutorials.html',
          label: 'Tutorials'
        },
        {
          url: 'about.html',
          label: 'About Us'
        },
        {
          url: 'privacy.html',
          label: 'Privacy Policy'
        },
        {
          url: 'service.html',
          label: 'Terms of Service'
        }
      ]
    },
    {
      url: 'money.html',
      label: 'Earn Money',
      siteMapSub:
      [
        {
          url: 'affiliate.html',
          label: 'Affiliate'
        },
        {
          url: 'partnership.html',
          label: 'Become Partner'
        }
      ]
    }
  ]
%}

{% set socials =
  [
    {
      icon: 'facebook',
      url: 'www.facebook.com/'
    },
    {
      icon: 'twitter',
      url: 'twitter.com/'
    },
    {
      icon: 'instagram',
      data: 'www.instagram.com/'
    }
  ]
%}

{% set results =
  [
    {
      icon: 'user',
      data: '90+',
      label: 'Users'
    },
    {
      icon: 'location',
      data: '30+',
      label: 'locations'
    },
    {
      icon: 'server',
      data: '50+',
      label: 'Servers'
    }
  ]
%}

{% set features =
  [
    {
      text: 'Powerfull online protection.'
    },
    {
      text: 'Internet without borders.'
    },
    {
      text: 'Supercharged VPN'
    },
    {
      text: 'No specific time limits.'
    }
  ]
%}

{% set freePlan =
  [
    {
      text: 'Unlimited Bandwitch'
    },
    {
      text: 'Encrypted Connection'
    },
    {
      text: 'No Traffic Logs'
    },
    {
      text: 'Works on All Devices'
    }
  ]
%}

{% set standartPlan =
  [
    {
      text: 'Unlimited Bandwitch'
    },
    {
      text: 'Encrypted Connection'
    },
    {
      text: 'Yes Traffic Logs'
    },
    {
      text: 'Works on All Devices'
    },
    {
      text: 'Connect Anyware'
    }
  ]
%}

{% set premiumPlan =
  [
    {
      text: 'Unlimited Bandwitch'
    },
    {
      text: 'Encrypted Connection'
    },
    {
      text: 'Yes Traffic Logs'
    },
    {
      text: 'Works on All Devices'
    },
    {
      text: 'Connect Anyware'
    },
    {
      text: 'Get New Features'
    }
  ]
%}

{% set clients =
  [
    {
      alt: 'Netflix',
      src: 'client-1'
    },
    {
      alt: 'Reddit',
      src: 'client-2'
    },
    {
      alt: 'Amazon',
      src: 'client-3'
    },
    {
      alt: 'Discord',
      src: 'client-4'
    },
    {
      alt: 'Spotify',
      src: 'client-5'
    }
  ]
%}

{% set customers =
  [
    {
      src: 'avatar-1',
      name: 'Viezh Robert',
      location: 'Warsaw, Poland',
      rating: '4.5',
      text: 'Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best'
    },
    {
      src: 'avatar-2',
      name: 'Yessica Christy',
      location: 'Shanxi, China',
      rating: '4.5',
      text: 'I like it because I like to travel far and still can connect with high speed'
    },
    {
      src: 'avatar-3',
      name: 'Kim Young Jou',
      location: 'Seoul, South Korea',
      rating: '4.5',
      text: 'This is very unusual for my business that currently requires a virtual private network that has high security'
    },
    {
      src: 'avatar-1',
      name: 'Viezh Robert',
      location: 'Warsaw, Poland',
      rating: '3.5',
      text: 'Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best'
    }
  ]
%}
