.icon-arrow-left {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1.4em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-location {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 4.03em;
  height: 1em;
  fill: initial;
}
.icon-server {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
